body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}
.span {
  color: #2e2f42;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
  margin: auto;
}
.list:hover,
.list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}
.mail:hover,
.mail:focus {
  color: #404bbf;
}
.main {
  background-color: #2e2f42;
}
.main_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.center {
  background-color: #f4f4fd;
}
.center_title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
}
.pic {
  background-color: #ffffff;
}
.footer {
  background-color: #2e2f42;
}
.footer-span {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.container {
  max-width: 1440px;
}
